body{
	padding-top: 120px;
	font-family:Arial;
	}
.container{
	width:500px;
	margin:0 auto;
	}

a:link, a:visited{
	color:slateGray;
	text-decoration:none;
	border-bottom: 1px dotted slateGray;
	}
a:hover{
	color: black;
	border-bottom-color:black;
}
div #edit a{
padding-left: 5px;
color: red;
font-size: 15px;
border-bottom: 1px solid black;

}
div #edit a:hover{
	color:blue;
	border-bottom: 1px solid blue;
}


 small{
 	color: #999;
 	font-style: italic;
 }

 
  input[type=text], input[type=password], textarea{
  	-webkit-appearance:none;
  	padding: 5px;
  	border: 1px solid #ccc;
  }
   input[type=text]:focus, input[type=password]:focus, textarea:focus{
   	outline: none;
   }
   table
		{
			width: 100%;
		}

		table,th,td
		{
			border:1px solid slateGray;
		}

		th,td
		{
		padding: 10px;
		text-align: left;
		}
		
		

